// Colors
$color-dark:#000;
$color-primary:#361281;
$color-light-blue:#54F2F2;
$color-orange:#FF6F1F;
$color-light:#FFF;
$color-green:#D5FF2F;
$color-pink:#FF2473;
$color-light-gray:#F9F9F9;

$scale: 4.8rem
