.contributors {
  width: 100rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 5rem;

    &-subtitle {
      color: $color-green;
    }

    &-job {
      padding-top: 2rem;
    }

    &-lastDiv {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 2rem;
      gap: 2rem;
      position: relative;

      &--button {
        background-color: $color-primary;
        border: none;
        position: absolute;
        bottom: -12%;
        right: 50%;
        transform: translateX(50%);
      }
    }
  }
}
