.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @include respond(phone) {
    padding: 1rem;
  }
  @include respond(tab-port) {
    padding: 1.5rem 3rem;
  }
  @include respond(tab-land) {
    padding: 2rem 3rem;
  }
  @include respond(desktop) {
    padding: 3rem 10rem;
  }

  &__vector {
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translate(50%, 0);

    @include respond(phone) {
      left: 45%;
    }
  }

  &__logo {
    width: 21.717rem;
    height: 4rem;
  }

  &__hr {
    position: absolute;
    top: 50%;
    left: 8rem;
    transform: translateY(50%);

    @include respond(phone) {
      display: none;
    }
    @include respond(tablet) {
      display: none;
    }

    @include respond(desktop) {
      display: block;
    }
  }

  &__list {
    @include respond(phone) {
      display: none;
    }
    @include respond(tab-port) {
      display: none;
    }
    @include respond(tab-land) {
      display: flex;
      gap: 3rem;
    }
    @include respond(desktop) {
      display: flex;
      gap: 3rem;
    }

    position: relative;
    list-style: none;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: $color-light;
    }

    &-hamburger {
      width: 50px;
      cursor: pointer;

      @include respond(phone) {
        display: block;
      }

      @include respond(tab-port) {
        display: block;
      }

      @include respond(tab-land) {
        display: none;
      }

      @include respond(desktop) {
        display: none;
      }
    }
  }

  &__mobileList {
    list-style: none;
    gap: 2rem;
    transition-duration: 0.7s;
    transform: translateX(100%);
    top: 10px;
    right: 0;
    position: absolute;

    @include respond(phone) {
      display: flex;
      flex-direction: column;
    }
    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
      background-color: $color-dark;
      padding: 1rem;
      border-radius: 1rem;
      color: $color-light;
    }
    @include respond(tab-land) {
      display: none;
    }
    @include respond(desktop) {
      display: none;
    }

    a {
      text-decoration: none;
      cursor: pointer;
      color: $color-light;
    }

    &-button {
      position: absolute;
      top: 0;
      right: 5px;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
}
