.header {
  max-width: 120rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @include respond(small) {
    padding: 1rem;
  }
  @include respond(medium) {
    padding: 1.5rem 3rem;
  }
  @include respond(big) {
    padding: 2rem 3rem;
  }
  @include respond(large) {
    padding: 2rem 3rem;
  }

  &__vector {
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translate(50%, 0);

    @include respond(small) {
      left: 45%;
    }
  }

  &__hr {
    position: absolute;
    top: 50%;
    left: 8rem;
    width: 2rem;
    transform: translateY(50%);
    transform: rotate(90deg);
  }

  &__list {
    @include respond(small) {
      display: none;
    }
    @include respond(medium) {
      display: none;
    }
    @include respond(big) {
      display: flex;
      gap: 3rem;
    }
    @include respond(large) {
      display: flex;
      gap: 5rem;
    }

    position: relative;
    list-style: none;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: $color-light;
    }

    &-hamburger {
      width: 50px;
      cursor: pointer;

      @include respond(small) {
        display: block;
      }

      @include respond(medium) {
        display: block;
      }

      @include respond(big) {
        display: none;
      }
      @include respond(large) {
        display: none;
      }
    }
  }

  &__mobileList {
    list-style: none;
    gap: 2rem;
    transition-duration: 0.7s;
    transform: translateX(100%);
    top: 10px;
    right: 0;
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    visibility: hidden;

    a {
      text-decoration: none;
      cursor: pointer;
      color: $color-light;
    }

    &-button {
      position: absolute;
      top: 0;
      right: 5px;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
}
