.header {
  width: 100%;
  height: 8.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16rem;
  position: relative;

  &__vector {
    position: absolute;
    width: 6rem;
    height: 6rem;
    top: 7.9rem;
    left: 96rem;
  }

  &__logo {
    width: 21.717rem;
    height: 4rem;
  }

  &__firstHr {
    position: absolute;
    top: 3.6rem;
    left: 33rem;
  }

  &__secondHr {
    position: absolute;
    top: 50%;
    left: 8rem;
    transform:translateY(50%);
  }

  &__list {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 24.3rem;
    height: 3.2rem;

    li:not(:last-child) {
      width: 6.2rem;
      height: 3.2rem;
    }

    li:last-child {
      width: 14.5rem;
      height: 3.2rem;
    }

    a {
      text-decoration: none;
      color: $color-light;
    }
  }
}
