.hero {
  max-width: 120rem;
  margin-top: 10rem;
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, minmax(10rem, auto));
  grid-template-columns: repeat(7, 1fr);

  @include respond(small) {
    padding: 2rem;
  }
  @include respond(medium) {
    padding: 5rem 3rem;
  }

  @include respond(big) {
    padding: 10rem 5rem;
  }
  @include respond(large) {
    padding: 10rem 5rem;
  }

  &__list {
    position: absolute;
    list-style: none;
    display: flex;
    right: 1rem;
    gap: 1rem;

    @include respond(small) {
      flex-direction: row;
      top: 5rem;
    }

    @include respond(medium) {
      flex-direction: column;
      top: 0rem;
    }

    @include respond(big) {
      top: 0rem;

      flex-direction: column;
    }
    @include respond(large) {
      top: 0rem;
      flex-direction: column;
    }
  }

  &__lines {
    position: absolute;

    transform: translateX(-50%);

    @include respond(small) {
      bottom: 4%;
      left: 70%;
    }
    @include respond(medium) {
      bottom: 4%;
      left: 50%;
    }
    @include respond(big) {
      bottom: 4%;
      left: 50%;
    }
    @include respond(large) {
      bottom: 4%;
      left: 50%;
    }
  }

  &__span {
    color: $color-green;
  }

  &__emptyDiv {
    position: relative;

    @include respond(small) {
      grid-area: 2/1/3/3;
    }
    @include respond(medium) {
      grid-area: 2/1/3/5;
    }
    @include respond(big) {
      grid-area: 2/1/3/5;
    }
    @include respond(large) {
      grid-area: 2/1/3/5;
    }

    &-vector {
      position: absolute;
      top: 35%;
      left: 55%;

      @include respond(small) {
        top: 35%;
        left: 228%;
      }
    }
  }

  &__titleContainer {
    grid-area: 1 / 1 / 2 / 8;
    h1 {
      @include respond(small) {
        font-size: 2.5rem;
      }

      @include respond(medium) {
        font-size: 3rem;
      }
    }
  }

  &__paragraph {
    @include respond(small) {
      grid-area: 2 / 1 / 3 / 8;
    }
    @include respond(medium) {
      grid-area: 2 / 5 / 3 / 8;
    }
    @include respond(big) {
      grid-area: 2 / 5 / 3 / 8;
    }
    @include respond(large) {
      grid-area: 2 / 5 / 3 / 8;
    }

    &-button {
      margin-top: 3rem;
      position: relative;

      button {
        background-color: $color-primary;
        border: none;
        cursor: pointer;
      }

      &--vector {
        position: absolute;

        @include respond(small) {
          top: 2%;
          left: 95%;
        }
        @include respond(medium) {
          top: 65%;
          left: 81%;
        }
        @include respond(big) {
          top: 65%;
          left: 65%;
        }
        @include respond(large) {
          top: 65%;
          left: 65%;
        }
      }
    }
  }
  &__dots {
    position: absolute;
    bottom: -8rem;
    left: -7rem;
  }
}
