.hero {
  width: 167.4rem;
  height: 55.5rem;
  margin: 17.2rem 0 0 21rem;
  position: relative;
  margin-bottom: 14.7rem;

  &__titleContainer {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    text-transform: uppercase;
    width: 156rem;
    height: 26.5rem;
  }

  &__span {
    color: $color-green;
  }

  &__list {
    height: 26.4rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    li {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__paragraph {
    width: 65.7rem;
    height: 6.6rem;
    position: relative;
    left: 90.3rem;
    margin-top: 1.7rem;
  }

  &__cta-container {
    width: 29.7rem;
    height: 11.4rem;
    position: absolute;
    top: 37.7rem;
    right: 36rem;

    &__button {
      background-color: $color-primary;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__img {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &__vectors {
    width: 27.1rem;
    height: 26.6rem;
    position: absolute;
    left: 46.5rem;
    top: 37.7rem;
    &-lines {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &__sideVectors {
    width: 7.6rem;
    height: 19rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-items: end;
    align-items: center;
    position: absolute;
    top: 84.8rem;
  }
}
