.hero {
  max-width: 120rem;
  padding-bottom: 10rem;
  margin-top: 10rem;
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(7, 1fr);

  // @include respond(phone) {
  //   margin: 8rem 0 0 2rem;
  //   padding-bottom: 17rem;
  // }
  // @include respond(tablet) {
  //   padding-bottom: 27rem;
  //   margin: 8rem 0 0 5rem;
  // }
  // @include respond(desktop) {
  //   // margin: 17.2rem 0 0 21rem;
  //   padding-bottom: 70rem;
  // }

  &__list {
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 0rem;
    right: -2rem;
  }

  &__lines {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &__span {
    color: $color-green;
  }

  &__emptyDiv {
    grid-area: 2/1/3/5;
    position: relative;

    &-vector {
      position: absolute;
      top: 35%;
      left: 55%;
    }
  }

  &__titleContainer {
    grid-area: 1 / 1 / 2 / 8;
  }

  &__paragraph {
    grid-area: 2 / 5 / 3 / 8;

    &-button {
      margin-top: 3rem;
      position: relative;

      button {
        background-color: $color-primary;
        border: none;
      }

      &--vector {
        position: absolute;
        top: 5rem;
        left: 23rem;
      }
    }
  }
  &__dots {
    position: absolute;
    bottom: -8rem;
    left: -7rem;
  }
}
