.introduction {
  position: relative;
  max-width: 120rem;
  padding: 20rem 5rem;

  &__dots {
    position: absolute;
    top: -20%;
    right: 0%;
  }

  &__heading {
    position: relative;
    padding-bottom: 5rem;
    padding-top: 5rem;

    &-first {
      position: absolute;
      top: -60%;
      left: -5%;
    }
    &-second {
      position: absolute;
      top: -20%;
      right: 5%;
    }
  }

  &__video {
    width: 100%;
    position: relative;
    :nth-of-type(1) {
      width: 100%;
    }
    :nth-of-type(2) {
      position: absolute;
      @include respond(small) {
        bottom: -50%;
        right: -2%;
      }
      @include respond(medium) {
        bottom: -40%;
        right: -2%;
      }
      @include respond(big) {
        bottom: -30%;
        right: -2%;
      }
      @include respond(large) {
        bottom: -25%;
        right: -2%;
      }
    }
    :nth-of-type(3) {
      position: absolute;

      @include respond(small) {
        bottom: -90%;
        left: -3%;
      }
      @include respond(medium) {
        bottom: -80%;
        left: -3%;
      }
      @include respond(big) {
        bottom: -55%;
        left: -3%;
      }
      @include respond(large) {
        bottom: -45%;
        left: -3%;
      }
    }
  }
}
