.introduction {
  max-width: 100rem;
  position: relative;
  padding: 20rem 0;

  &__dots {
    position: absolute;
    top: -20%;
    right: -13%;
  }

  &__heading {
    position: relative;

    &-first {
      position: absolute;
      top: -10%;
      left: -12%;
    }
    &-second {
      position: absolute;
      top: 20%;
      right: 5%;
    }
  }

  &__video {
    width: 100%;
    position: relative;
    :nth-of-type(1) {
      width: 100%;
    }
    :nth-of-type(2) {
      position: absolute;
      bottom: -20%;
      right: -12%;
    }
  }
}
