.imageSection {
  max-width: 120rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  position: relative;

  :first-of-type {
    width: 90%;
  }

  :nth-of-type(2) {
    position: absolute;
    bottom: -14rem;
    right: -1rem;
  }
}
