.network {
  @include respond(phone) {
    margin-top: 55rem;
    padding-bottom: 76rem;
  }

  @include respond(tablet) {
    margin-top: 75rem;
    padding-bottom: 65rem;
  }
  @include respond(desktop) {
    margin-top: 50rem;
    padding-bottom: 30rem;
  }

  &__container {
    position: relative;

    @include respond(phone) {
      margin-left: 2rem;
    }

    @include respond(tablet) {
      margin-left: 5rem;
    }

    @include respond(desktop) {
      padding-bottom: 15rem;
      margin-left: 25.8rem;
      width: 126.6rem;
      height: 89.2rem;
    }

    &-title {
      text-transform: uppercase;

      @include respond(phone) {
        font-size: $font-small;
        line-height: $lineSpacing-medium;
      }

      @include respond(tablet) {
        font-size: $font-medium;
        line-height: $lineSpacing-big;
      }

      @include respond(desktop) {
      }
    }

    &-span {
      color: $color-green;
    }

    &-lines {
      position: absolute;
      top: -4rem;
      right: 10rem;
    }

    &-channel {
      position: absolute;

      &:nth-of-type(2) {
        @include respond(phone) {
          top: 10rem;
          left: -2rem;
        }

        @include respond(tablet) {
          top: 23rem;
          left: -2rem;
        }

        @include respond(desktop) {
          top: 54rem;
          left: 2rem;
        }
      }

      &:nth-of-type(3) {
        @include respond(phone) {
          top: 43rem;
          left: -2rem;
        }

        @include respond(tablet) {
          top: 19rem;
          left: 36rem;
        }

        @include respond(desktop) {
          top: 32rem;
          left: 32rem;
        }
      }

      &:nth-of-type(4) {
        @include respond(phone) {
          top: 0rem;
          left: 30rem;
        }

        @include respond(tablet) {
          top: 57rem;
          left: 0rem;
        }

        @include respond(desktop) {
          top: 47rem;
          left: 68rem;
        }
      }

      &:nth-of-type(5) {
        @include respond(phone) {
          top: 26rem;
          left: 34rem;
        }

        @include respond(tablet) {
          top: 48rem;
          left: 27rem;
        }

        @include respond(desktop) {
          top: 72rem;
          left: 78rem;
        }
      }

      &:nth-of-type(6) {
        @include respond(phone) {
          top: 43rem;
          left: 34rem;
        }

        @include respond(tablet) {
          top: 58rem;
          left: 44rem;
        }

        @include respond(desktop) {
          top: 74rem;
          left: 95rem;
        }
      }
      &:nth-of-type(7) {
        @include respond(phone) {
          top: 63rem;
          left: 33rem;
        }

        @include respond(tablet) {
          top: 66rem;
          left: 25rem;
        }

        @include respond(desktop) {
          top: 55rem;
          left: 103rem;
        }
      }

      // &---vectorImg {
      //   width: 5%;
      // }

      // &---logoImg {
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   transform: translate(-50%, -50%);
      // }
    }
  }
}

//  @include respond(phone) {
//   }

//   @include respond(tablet) {
//   }

//   @include respond(desktop) {
//   }
