.news {
  max-width: 100rem;
  padding-bottom: 7rem;
  &__container {
    display: flex;
    gap: 5rem;
    width: 100%;

    &-div {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      position: relative;

      &-image {
        width: 100%;
      }

      span {
        color: $color-green;
        text-transform: uppercase;
      }

      &-button {
        position: absolute;
        bottom: -20%;
        left: 0%;
      }
    }
  }

  &__vectorsContainer {
    margin-top: 15rem;
    padding: 5rem 0;
    height: 20rem;
    position: relative;
    :nth-of-type(1) {
      position: absolute;
      top: 0%;
      left: -11%;
    }
    :nth-of-type(2) {
      position: absolute;
      bottom: 0%;
      right: 15%;
    }
  }

  &__footer {
    padding-top: 15rem;
    width: 75%;
    display: flex;
    justify-content: space-between;
    position: relative;

    ul {
      list-style: none;
      a {
        text-decoration: none;
        color: $color-light;
        font-size: 2rem;
      }
    }
  }

  footer {
    margin-top: 10rem;
    position: relative;
    text-align: center;

    img {
      position: absolute;
      bottom: 0%;
      right: -14%;
    }
  }
}
