.news {
  border: 1px solid white;
  width: 137.5rem;
  margin-left: 25.8rem;
  padding-bottom: 15rem;

  &__logoContainer {
    width: 75rem;
    border: 1px solid white;
    padding-top: 15rem;
    padding-left: 3rem;
    display: flex;
    justify-content: space-between;

&-links{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

    &-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      a {
        text-decoration: none;
        color: $color-light;
      }
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    position: relative;

    &-leftVector {
      position: absolute;
      top: 63rem;
      left: -14rem;
    }

    &-lines {
      position: absolute;
      top: 0rem;
      right: 0rem;
    }

    &-article {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &--span {
        text-transform: uppercase;
        color: $color-green;
      }

      &--image {
        width: 20rem;
      }
    }
  }
}
