.pygear{
    border: 1px solid white;
    width: 137.5rem;
    height: 118.9rem;
    margin-left: 25.8rem;
    margin-top: 18.9rem;

    &__textContainer{
        width: 96.2rem;
        height: 43.7rem;

        &-title {
               text-transform: uppercase;

        }
    }


}