.pygear {
  @include respond(phone) {
    padding-bottom: 15rem;
  }

  @include respond(tablet) {
    padding-bottom: 15rem;
  }

  @include respond(desktop) {
    padding-bottom: 5rem;
  }

  &__heading {
    max-width: 137.5rem;
    max-height: 118.9rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @include respond(phone) {
      margin-left: 8rem;
      margin-top: 2rem;
    }

    @include respond(tablet) {
      margin-left: 15rem;
      margin-top: 10rem;
    }

    @include respond(desktop) {
      margin-left: 25.8rem;
      margin-top: 18.9rem;
    }

    &-title {
      text-transform: uppercase;
      @include respond(phone) {
        font-size: $font-small;
      }
      @include respond(tablet) {
        font-size: $font-medium;
      }
      @include respond(desktop) {
        font-size: $font-veryBig;
      }
      &--span {
        color: $color-green;
      }
    }
  }

  &__textContainer {
    display: flex;
    width: 100%;

    &-paragraph {
      width: 50%;

      &--span {
        display: block;
        margin-top: 2rem;
      }
    }

    &-vectors {
      width: 50%;
      display: flex;
      padding-top: 8rem;
      justify-content: center;
      align-items: start;
    }

    &-video {
      max-width: 137.5rem;
      &--image {
        width: 100%;
      }

      @include respond(phone) {
        width: 90%;
      }
    }
  }

  &__sideVectors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
    align-items: center;
    position: absolute;

    @include respond(phone) {
      top: 150rem;
      width: 2rem;
      height: 6rem;
    }

    @include respond(tablet) {
      top: 210rem;
      width: 6rem;
      height: 12rem;
    }

    @include respond(desktop) {
      width: 7.6rem;
      height: 19rem;
      top: 275rem;
    }
  }
}

