.testimonials {
  position: relative;
  padding-bottom: 50rem;

  @include respond(phone) {
    padding-top: 5rem;
  }

  @include respond(tablet) {
    padding-top: 15rem;
  }

  @include respond(desktop) {
    padding-top: 30rem;
  }

  &__leftVector {
    position: absolute;
    top: -8px;
    left: 20px;
  }

  &__colorVectors {
    position: absolute;
    right: 50%;
    top: 20rem;
    transform: translateX(50%);

    @include respond(phone) {
      top: 8rem;
    }
  }

  &__container {
    padding-top: 5rem;

    display: flex;

    @include respond(phone) {
      padding-top: 8rem;
      flex-direction: column;
    }

    @include respond(tablet) {
      flex-direction: column;
      padding-top: 8rem;
    }

    @include respond(desktop) {
      flex-direction: row;
      padding-top: 5rem;
      margin-left: 28.7rem;
      max-width: 134.7rem;
      max-height: 46.4rem;
    }


    &-title {
      color: $color-green;
      @include respond(phone) {
        font-size: $font-small;
      }
      @include respond(tablet) {
        font-size: $font-medium;
      }
    }
    &-subtitle {
      padding-bottom: 5rem;

      @include respond(phone) {
        font-size: $font-small;
      }
      @include respond(tablet) {
        font-size: $font-normal;
      }
    }

    &-founder {
      position: relative;

      @include respond(phone) {
        padding-left: 7rem;
      }

      @include respond(tablet) {
        padding-left: 8rem;
      }

      @include respond(desktop) {
        padding-left: 18rem;
      }

      &--img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &-text {
      @include respond(phone) {
        font-size: $font-extraSmall;
      }
      @include respond(tablet) {
        font-size: $font-small;
      }
      @include respond(desktop) {
        font-size: $font-normal;
      }

      &--singleVector {
        position: absolute;

        @include respond(phone) {
          top: 27rem;
          right: 1rem;
        }

        @include respond(tablet) {
          top: 40rem;
          right: 1rem;
        }

        @include respond(desktop) {
          top: 50rem;
          right: 1rem;
        }
      }

      &--doubleVector {
        position: absolute;

        @include respond(phone) {
          top: -31rem;
          left: 32rem;
        }

        @include respond(tablet) {
          top: -31rem;
          left: 34rem;
        }

        @include respond(desktop) {
          top: 15rem;
          left: -8rem;
        }
      }
    }
  }
}
