.whyPygear {
  max-width: 100rem;

  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 4rem;

    &-singleVector {
      position: absolute;
      right: -5rem;
      top: 1rem;
    }

    h1 {
      span {
        color: $color-green;
      }
    }

    &-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 6rem;
      position: relative;

      &--dots {
        position: absolute;
        right: -17rem;
        top: 50%;
        transform: translateY(-50%);
      }
      :nth-of-type(4) {
        position: relative;
      }

      &--doubleVector {
        position: absolute;
        top: -10rem;
        right: -5rem;
      }
    }
  }
}
