// vezano za tekst izgled teksta
// cak i body a u body ostavim ostale stvari

@font-face {
  font-family: FuturaPtLight;
  src: url("../../assets/fonts/FuturaCyrillicLight.ttf");
}
@font-face {
  font-family: AspergitBold;
  src: url("../../assets/fonts/Aspergit\ Bold.otf");
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: -0.04em;
  text-align: left;
}

.CTA {
  font-weight: 700;
  size: 18px;
  font-family: AspergitBold, 'Nunito', sans-serif;
  // font-family: "Nunito", sans-serif;
  line-height: 19.98px;
  letter-spacing: -0.03em;
  text-align: center;
}

.small {
  font-family: FuturaLight;
  // font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: -0.04em;
  text-align: left;
}

h5 {
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
}

h4 {
  font-family: "Nunito", sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.02em;
  text-align: left;
}

h3 {
  // font-family: Aspergit;
  font-family: "Nunito", sans-serif;
  font-size: 54px;
  font-weight: 700;
  line-height: 77px;
  text-align: left;
}

h2 {
  //styleName: h2;
  // font-family: Aspergit;
  font: "Nunito", sans-serif;
  font-size: 94px;
  font-weight: 700;
  line-height: 109.98px;
  letter-spacing: -0.03em;
  text-align: left;
}

h1 {
  font-family: AspergitBold, 'Nunito', sans-serif;
  font-size: 113px;
  font-weight: 700;
  line-height: 132.21px;
  text-align: left;
}
